# Required: Get a free API key at https://api.regulations.gov/
REGULATIONS_GOV_API_KEY= vEQzSkC0g7lJxuxD3iaAxCcirHT6QIK0LRmXhjMQ

# Required: Get a free API key at https://aistudio.google.com/apikey
GEMINI_API_KEY= AIzaSyASKcTfEPKBmkD-8irmTTNdsicZRyh5W-0
